@import "tailwindcss";

@layer base {
  body {
      font-family: "Outfit", sans-serif;
  }
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.jost {
  font-family: "Jost", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.syne {
  font-family: "Syne", sans-serif;
}

.lora {
  font-family: "Lora", sans-serif;
}